<!-- Block for project with its title, image and description -->
<div class="row d-md-block">
  <hr class="mt-2 mt-md-4">
  <h2 class="mt-2 mt-md-4 mt-lg-5">{{ .Title }}</h2>
  {{ if .Params.topImgSrc }}
    <img class="projectTopImg mt-3" 
      src="{{ .Params.topImgSrc }}" 
      alt="{{ .Params.topImgAlt }}"
    >
  {{ else if .Params.rightImgSrc }}
    {{ $rightImgClass := "rightImg float-md-end mt-3 mb-md-4 ms-md-3" }}
    {{ if .Params.shrinkImgWidthMd }}
      {{ $rightImgClass = printf "%s shrinkImgWidthMd" $rightImgClass }}
    {{ end }}
    <img
      class={{ $rightImgClass }}
      src="{{ .Params.rightImgSrc }}" 
      alt="{{ .Params.rightImgAlt }}"
    >
  {{ end }}
  <div class="projectDescription mt-4">
    {{ .Content 
      | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` 
      | safeHTML 
    }}
  </div>
  <!-- <hr> -->
</div>
